<div class="header__container">
  <div class="header__language">
    <app-language-switcher></app-language-switcher>
  </div>
	<div class="header__info">
		<h4 class="header__info_text">{{ translations[currentLanguage].contact }}</h4>
  <div class="header__top-bar">
    <span
      >📧
      <a href="mailto:bohdan.petrenko.web&#64;gmail.com"
        >bohdan.petrenko.web&#64;mail.com</a
      ></span
    >
    <span>📱 <a href="tel:+4857673985">+48 576 739 85</a></span>
    <span
      >🔗
      <a
        href="https://www.linkedin.com/in/bohdan-petrenko-0a696228b/"
        target="_blank"
        >LinkedIn</a
      ></span
    >
  </div>
</div>
</div>
