<mat-card-actions>
  <mat-table [dataSource]="payments">
    <ng-container matColumnDef="month">
      <mat-header-cell *matHeaderCellDef>Month</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.month }}</mat-cell>
    </ng-container>
		<ng-container matColumnDef="capital">
      <mat-header-cell *matHeaderCellDef>Capital</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.capital }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="interests">
      <mat-header-cell *matHeaderCellDef>Interests</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.interests }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="principalInstalment">
      <mat-header-cell *matHeaderCellDef>Principal instalment</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.principalInstalment }}</mat-cell>
    </ng-container>
		<ng-container matColumnDef="totalInstallment">
			<mat-header-cell *matHeaderCellDef>Total Installment</mat-header-cell>
			<mat-cell *matCellDef="let element">{{element.totalInstallment}}</mat-cell>
		</ng-container>
		<ng-container matColumnDef="overpayment">
      <mat-header-cell *matHeaderCellDef>Overpayment</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.overpayment }}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="profit">
      <mat-header-cell *matHeaderCellDef>Profit</mat-header-cell>
      <mat-cell *matCellDef="let element">{{ element.profit }}</mat-cell>
    </ng-container>    
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</mat-card-actions>
